* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
}


/*Leelawadee UI
Adiescode
Tahoma
Corbel
Calibri
Arial Rounded MT Bold   Fontes usadas*/

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #DDA0DD;
}

.container {
    max-width: 1366px;
    width: 95%;
    margin: 0 auto;
}

/*Cabeçalho*/
header {
    background-color: #fff;
    padding-top: 16px;
    color: #a54586;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header span {
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    max-height: 400px;

}

header span img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 64px;
}

header > .container,
footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}


header nav {
    background-color: #a54586;
    padding: 16px 0;
    font-weight: bold;
    display: none;

}


.centro {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    list-style: disc;
    border-bottom: 2px solid #fff;
    position: relative;
}

/*Seções*/
nav li {
    list-style: none;
    display: inline;
    font-size: 18px;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}


button {
    background-color: rgb(199, 52, 162);
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #FF00FF;

}

ul {
    display: flex;
    flex-wrap: wrap;
    /* ao ocupar toda a largura da tela, cria-se uma nova linha*/
}

ul li {
    max-width: 25%;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
    /*Cortar as imagens conforme configuração eixo y = eixo vertical*/
}


.menu-hamburguer {
    width: 32px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #a54586;
    display: block;
    margin-bottom: 4px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.menu-hamburguer span:hover {
    background-color: #FF00FF;
}

#carousel-images {
    height: 90%;
    width: 100%;
    max-width: 450px;
    max-height: 580px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

#carousel-videos {
    height: 90%;
    width: 100%;
    max-width: 450px;
    max-height: 550px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 32px;
    margin-left: 16px;
    border-radius: 8px;
    margin-top: 32px;
}

.espaco {
    display: flex;
    max-height: 600px;
    border-bottom: 2px solid #fff;
}

.espaco p {
    text-align: justify;
    width: 300px;
    color: #fff;
    margin-top: 32px;
}

.espaco #unid-premier {
    width: 100%;
    height: 580px;
}

.logo2 {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 35%;
    overflow-y: hidden;
    margin-left: 16px;
    border-radius: 8px;
}

#brinquedo {
    max-width: 600px;
    max-height: 600px;
}

.contact-methods, h2 {
    margin-left: 32px;
    margin-left: 8px;
    color: #fff;
    justify-content: space-between;

}
.contact-methods h3{
    text-decoration: underline;
}

.contact-methods form {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 360px;
    width: 100%;
    margin-top: 10px;
}

.contact-methods input,
textarea {
    width: 256px;
    display: block;
    margin-bottom: 10px;
}

.contact-methods button {
    width: 64px;
    height: 24px;
    border-radius: 13px;
}

.form-campo label {
    display: block;
    font-weight: bold;
}

.form-campo input,
textarea {
    width: 100%;
    padding: 2px;
    display: block;
}

.form-campo textarea {
    height: 120px;
    resize: none;
}

.nos-acompanhe {
    justify-content: space-between  ;
    max-width: 100%;
}


section h2 {
    margin-bottom: 16px;
    font-size: 30px;
    align-items: flex-start;
    margin-top: 16px;
    color: #fff;
}

section p {
    max-height: 400px;
    margin-right: 48px;
    text-align: justify;
}

section #em-destaque {
    margin: 16px 0;
    justify-content: space-between;
    display: block;
}

#em-destaque h1 {
    margin-top: 16px;
    text-align: center;
}

section #em-destaque img,
video {
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
}

#contact{
    display: flex;
}

.social-links li,
img {
    display: inline;
    height: 20px;
    margin-right: 4px;
    text-decoration: none;
}

h3 {
    margin-bottom: 10px;
}

#img-espaco {
    height: 150px;
    width: 80%;
    max-width: 400px;
    margin-left: 200px;
    position: relative;
    max-height: 500px;
    border-radius: 8px;
}


#destaque {
    width: 400px;
    height: 450px;
    margin-top: 24px;
}

#convenios {
    height: 200px;
    margin-top: 24px;
    justify-content: space-between;

}

#convenios h1{
    margin-top: 32px;
}
#convenios .carousel-2 {
    margin-top: 32px;
}

.carousel-2 {
    /*max-height: 400px;
    max-width: 600px;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-height: 442px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;

}

.carousel-2 img {
    max-height: 200px;
    height: 40px;
}


footer {
    background-color: #DDA0DD;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
    margin-bottom: 16px;

}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img{
    height: 32px;
    cursor: pointer;
}


.whatsapp-link {
    /*Botão fixo do Whatsapp*/
    position: fixed;
    /* ficar fixo dentro da página*/
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

#local {
    align-items: center;
    border-radius: 10px;
    margin-left: 100px;
    height: 220px;
}
.localizacao h3 {
    margin-left: 100px;
}