* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Leelawadee UI
Adiescode
Tahoma
Corbel
Calibri
Arial Rounded MT Bold   Fontes usadas*/

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #DDA0DD;
}

.container {
    max-width: 1366px;
    width: 95%;
    margin: 0 auto;
}

/*Cabeçalho*/
header {
    background-color: #fff;
    padding-top: 16px;
    color: #a54586;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header span {
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    max-height: 400px;
    cursor: pointer;
}

header span img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 64px;
}

header>.container,
footer>.container,
#em-destaque>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

header nav {
    background-color: #a54586;
    padding: 16px 0;
    font-weight: bold;
    display: flex;
}

.celular-flex {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
}

.centro {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    list-style: disc;
    border-bottom: 2px solid #fff;
    position: relative;
}

/*Seções*/
nav li {
    list-style: none;
    display: inline;
    font-size: 18px;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}


button {
    background-color: rgb(199, 52, 162);
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #FF00FF;

}

ul {
    display: flex;
    flex-wrap: wrap;
    /* ao ocupar toda a largura da tela, cria-se uma nova linha*/
}

ul li {
    max-width: 25%;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
    /*Cortar as imagens conforme configuração eixo y = eixo vertical*/
}


.menu-hamburguer {
    width: 32px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #a54586;
    display: none;
    margin-bottom: 4px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 16px;

}

.menu-hamburguer span:hover {
    background-color: #FF00FF;
}

#carousel-images {
    height: 90%;
    width: 100%;
    max-width: 450px;
    max-height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}


#carousel-videos {
    height: 480px;
    width: 100%;
    max-width: 550px;
    max-height: 530px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 32px;
    margin-left: 16px;
    border-radius: 8px;
    margin-top: 32px;
}

#destaque {
    width: 400px;
    max-height: 500px;
    height: 480px;
    margin-top: 24px;
}


#alinhamento {
    width: 350px;
    height: 400px;
    margin-right: 32px;
    margin-left: 16px;
    border-radius: 8px;
    margin-top: 24px;
}

.container.espaco{
    display: flex;
    max-height: 600px;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

.espaco p {
    text-align: justify;
    width: 300px;
    color: #fff;
    margin-top: 32px;
}

.espaco #unid-premier {
    width: 100%;
    height: 580px;
}

.logo2 {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 35%;
    overflow-y: hidden;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

#brinquedo {
    max-width: 600px;
    max-height: 600px;
}

.contact-methods,
h2 {
    margin-left: 32px;
    color: #fff;
    justify-content: space-between;

}

.contact-methods h3 {
    text-decoration: underline;
}

.contact-methods form {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 360px;
    width: 100%;
    margin-top: 10px;
}

.contact-methods input,
textarea {
    width: 256px;
    display: block;
    margin-top: 10px;
}

.contact-methods button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    background-color: #a54586;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
    max-width: 100px;
}

#button-conosco:hover {
    background-color: #FF00FF;
}


.form-campo label {
    display: block;
    font-weight: bold;
}

.form-campo input,
textarea {
    width: 100%;
    padding: 2px;
    display: block;
}

.form-campo textarea {
    height: 120px;
    resize: none;
}

.nos-acompanhe {
    justify-content: space-between;
    max-width: 100%;
}


section h2 {
    margin-bottom: 16px;
    font-size: 30px;
    align-items: flex-start;
    margin-top: 16px;
    color: #fff;
}

section p {
    max-height: 400px;
    margin-right: 48px;
    text-align: justify;
}

/*section #em-destaque {
    margin: 16px 0;
    justify-content: space-between;
    display: block;
}*/

#em-destaque h1 {
    text-align: center;
}


section #contact h2 {
    font-size: 20px;
}

.social-links li,
img {
    display: inline;
    height: 20px;
    margin-right: 4px;
    text-decoration: none;
}

h3 {
    margin-bottom: 10px;
}

#img-espaco {
    height: 150px;
    width: 80%;
    max-width: 400px;
    margin-left: 200px;
    position: relative;
    max-height: 500px;
    border-radius: 8px;
}


#convenios {
    height: 120px;
    justify-content: space-between;

}

#convenios h1 {
    margin-top: 30px;
    color: #a54586;
}

#convenios .carousel-2 {
    margin-top: 16px;
}

.carousel-2 {
    /*max-height: 400px;
    max-width: 600px;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-height: 442px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 16px;
    margin-left: 16px;
}

.carousel-2 img {
    max-height: 200px;
    height: 40px;
}


footer {
    background-color: #DDA0DD;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
    margin-bottom: 16px;

}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
    cursor: pointer;
}


.whatsapp-link {
    /*Botão fixo do Whatsapp*/
    position: fixed;
    /* ficar fixo dentro da página*/
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

#local {
    align-items: center;
    border-radius: 10px;
    margin-left: 100px;
    height: 220px;
}

.localizacao h3 {
    margin-left: 100px;
}

@media screen and (max-width: 767px) {
    /* display mais blockado*/

    .menu {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .container.espaco{
        display: block;
        justify-content: center;
        border-bottom: 2px solid #fff;
    }

    header {
        text-align: center;
        justify-content: space-between;
    }

    header span {

        display: none;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        max-height: 400px;
        cursor: pointer;
    }

    .menu-hamburguer {
        width: 64px;
    }

    .menu-hamburguer span {
        height: 4px;
        width: 100%;
        background-color: #a54586;
        color: #fff;
        display: block;
        margin-bottom: 8px;
        margin-left: 16px;
        cursor: pointer;
        border-radius: 16px;

    }

    nav li {
        display: none;
        font-size: 18px;
        margin-right: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    nav li a {
        color: #fff;
        text-decoration: none;
    }

    .menu,
    .menu>li {
        width: 100%;
        display: block;
    }

    .menu {
        display: none;
        justify-content: space-around;

    }

    .celular-flex {
        display: flex;
        margin-top: 32px;
        margin-bottom: 32px;
        max-height: 100%;
        max-width: 100%;
        justify-content: space-between;
    }

    #destaque {
        max-width: 100%;
        width: 100%;
        max-height: 95%;
        height: 80%;
    }

    #alinhamento {
        width: 600px;
        height: 600px;
        margin-right: 32px;
        margin-left: 16px;
        border-radius: 8px;
        margin-top: 24px;
    }

    /* .menu>li {
        clear: both;
    }*/

    .espaco {
        display: block;
        max-height: 100%;
        border-bottom: 2px solid #fff;
        text-align: center;
    }

    .espaco p {
        text-align: justify;
        width: 250px;
        color: #fff;
        font-size: 14px;
        margin-bottom: 24px;
    }

    .espaco .logo2 {
        max-width: 100%;
        width: 60%;
    }

    #em-destaque>.container {
        display: block;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
    }


    #carousel-images img {
        margin-top: 16px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        border-radius: 8px;
        margin-bottom: 16px;
        align-items: center;
    }

    #carousel-videos {
        height: 525px;
        width: 95%;
        max-width: 100%;
        max-height: 530px;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-right: 32px;
        margin-left: 16px;
        border-radius: 8px;
        margin-top: 32px;
    }

    #convenios {
        max-height: 100%;
        height: 20%;
        justify-content: space-between;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        max-width: 90%;
    }

}