*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100%;
    background-color: #DDA0DD;
}

header {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}