* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #DDA0DD;
}

header {
    background-color: #fff;
    color: #a54586;
}

img {
    max-height: 300px;
    height: 50%;
    max-width: 400px;
    width: 50%;
}