* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    /* height: 100%;*/
    overflow-x: hidden;
    background-color: #DDA0DD;
    color: #fff;
}


.container {
    max-width: 1366px;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

header {
    background-color: #fff;
    padding-top: 16px;
    color: #a54586;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


header span {
    display: flex;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    max-height: 400px;
    cursor: pointer;
}

header span img {
    margin-top: 16px;
    position: relative;
    width: 100%;
    height: 75%;
    object-fit: contain;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

header>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}


header nav {
    background-color: #a54586;
    padding: 16px 0;
    font-weight: bold;
    display: none;

}

ul {
    display: flex;
    flex-wrap: wrap;
    /* ao ocupar toda a largura da tela, cria-se uma nova linha*/
}

ul li {
    max-width: 25%;
    position: relative;
    overflow-y: hidden;
    /*Cortar as imagens conforme configuração eixo y = eixo vertical*/
}

.menu-hamburguer {
    width: 32px;
    align-content: center;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #a54586;
    display: none;
    margin-bottom: 4px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 16px;
}

section {
    margin: 16px;
}

section h2 {
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
}

/*section #unidades {
    margin: 16px 0;
    margin-bottom: 32px;
    display: flex;
}*/

#unidades h3 i {
    font-size: 14px;
}


header nav {
    background-color: #a54586;
    padding: 16px 0;
    font-weight: bold;
    display: flex;
}

nav li {
    display: flex;
    font-size: 18px;
    margin-right: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

#carousel-unidade3 {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 16px;
    border-radius: 8px;
    margin-top: 32px;
}

#carousel-unidade3 img {
    height: 500px;
    width: 600px;
}

.unidade-3 h3 {
    margin-top: 32px;
    text-align: center;
}

footer {
    background-color: #fff;
    color: #a54586;
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
    border-top: 4px solid #a54586;
}

.whatsapp-link {
    /*Botão fixo do Whatsapp*/
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.articles {
    display: flex;
    margin-top: 32px;
}

.articles article img {
    height: 350px;
    padding: 16px 0;
    border-radius: 16px;
}

.articles article {
    width: 47%;
}

#unid-premier {
    margin-right: 32px;
    width: 90%;
}

#unid-pimenta {
    width: 90%;
    border-radius: 16px;
}

@media screen and (max-width: 767px) {
    /* display mais blockado*/

    .container {
        max-width: 90%;
    }

    .container {
        display: block;
        justify-content: center;
        max-height: 100%;
        max-height: fit-content;
    }

    header{
        text-align: center;
    }

    header>.container h1 {
        font-size: 40px;
    }

    header nav {
        background-color: #a54586;
        padding: 0 0;
        font-weight: bold;
        text-decoration: none;

    }

    nav li {
        display: flex;
        font-size: 18px;
        margin-right: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    nav li a {
        color: #fff;
        text-decoration: none;
    }
    
    header span {
        width: 100%;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        width: 125px;
        height: 125px;
        max-height: 400px;
        cursor: pointer;
    }
    
    header span img {
        margin-top: 16px;
        position: relative;
        width: 100%;
        height: 75%;
        object-fit: contain;
    }

    .menu,
    .menu>li {
        width: 100%;
        display: block;
        max-width: 400px;
        margin-top: 8px;
        margin-bottom: 8px;
    }


    /*.menu {
        display: none;
    }*/

    .menu-hamburguer {
        margin-right: 32px;
        width: 32px;
        margin-top: 8px;
    }
    
    .menu-hamburguer span {
        height: 4px;
        width: 100%;
        background-color: #a54586;
        display: block;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 16px;
        margin-right: 16px;
    }

    button {
        background-color: rgb(199, 52, 162);
        border: none;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        display: none;
    }
    
    form button:hover {
        background-color: #FF00FF;
    
    }
    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }


    .articles .h3, h3 {
        font-size: calc(1.8rem + .6vw);
    }

    #carousel-unidade3 {
        height: 90%;
        width: 100%;
        position: relative;
        max-width: 700px;
        max-height: 500px;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-right: 16px;
        border-radius: 8px;
        margin-top: 32px;
    }

    #carousel-unidade3 img {
        height: 500px;
        width: 600px;
    }


    .articles{
        display: block;
    }

    .articles article {
        color: #a54586;
        width: 100%;
        text-align: center;
        margin-top: 24px;
    }

    .articles .article span{
        color: #a54586;
    }
    .articles article img{
        border-radius: 16px;
    }

    footer {
        background-color:#a54586;
        color: #fff;
        text-align: center;
        margin-top: 32px;
        font-size: 12px;
        border-top: 4px solid #a54586;
    }
}